    
<ion-content class="home" padding>
    
    
    <table width="100%" height="100%"> 
       
        <tr> 
            <h1 align="center" style="color:#FFFFFF; margin-top:50px;">ES FREUS</h1>
        </tr> 
          
         <tr> 
            <center> <img style="height:100px; width:100px;" src="/build/img/login.png"> </center>
        </tr> 
      
             
        <tr> 
            <h5 align="center" style="color:#FFFFFF">Login</h5>
            <center>
            
            <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)" novalidate>
        <ion-item [class.error]="!username.valid && username.touched">
            <ion-label floating>Username</ion-label>
            <ion-input type="text" value="" [ngFormControl]="username"></ion-input>         
        </ion-item>
                
        <div *ngIf="username.hasError('required') && username.touched" 
            class="error-box">* Username is required!</div>
        <div *ngIf="username.hasError('minlength') && username.touched" 
            class="error-box">* Minimum username length is 8!</div>            
        <div *ngIf="username.hasError('checkFirstCharacterValidator') && username.touched" 
            class="error-box">* Username cant't start with number!</div>                       
        <ion-item [class.error]="!password.valid && password.touched">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" value="" [ngFormControl]="password" ></ion-input>
        </ion-item>
        <div *ngIf="password.hasError('required') && password.touched" 
            class="error-box">* Password is required</div>    
        <div *ngIf="password.hasError('minlength') && password.touched" 
            class="error-box">* Minimum password length is 8!</div>                     
        <div *ngIf="password.hasError('checkFirstCharacterValidator') && password.touched" 
            class="error-box">* Password cant't start with number!</div>             
        <br/><br/> 
            
        
    </form>
            </center>
        </tr> 
        
        <tr> 
            <center>
                <button style="height:50px; width:300px; margin-top:70px;" type="submit" class="custom-button"
                        block (click)="goToPrincipal();">Send</button>
            </center>
      
        </tr>         
        
 
             
    </table> 

</ion-content>
